#description_container,
.description_txt_container,
#product_container img,
#product_container {
  width: 100%;
}

#product_container {
  height: 45vh;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "picture name name"
    "picture . ."
    "picture . book"
    "picture . .";
  column-gap: 1em;
  row-gap: 0.5em;
}

#product_container img {
  max-height: 100%;
  display: block;
  grid-area: picture;
  object-fit: cover;
  border-radius: var(--image_border_radius);
}

/* .check_aval {
  grid-area: check_aval;
} */

.book_button {
  grid-area: book;
}

.name_price_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  grid-area: name;
  color: var(--pal1_col3);
  text-align: right;
}

.description_txt_container p {
  color: var(--pal1_col3);
}

@media screen and (max-width: 1160px) {
  #product_container {
    height: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.9fr 4fr 0.3fr;
    grid-template-areas:
      ". name ."
      "picture picture picture"
      "price . book";
  }
}
